<div class="container w-100">
  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1 class="text-monospace text-center">
        Sejam bem vindos ao meu blog!
      </h1>
    </div>
  </div>

  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify text-monospace">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nemo quas 
        veritatis dolores voluptatum repellat repudiandae, vero sequi dignissimos temporibus 
        dolorum excepturi omnis sint numquam ab voluptatibus quidem minus cum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quam magnam 
        quibusdam blanditiis nam laudantium minus. Fugiat laborum voluptatibus, eum, repellendus 
        temporibus iure molestias perspiciatis vitae, totam optio id porro?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vitae tenetur excepturi 
        minus similique beatae unde voluptate, itaque debitis rem dolores eum aut necessitatibus 
        ratione maiores id voluptas voluptatum magni?
      </p>
    </div>
  </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
  <div class="col-md-12 w-100 d-flex justify-content-center">
    <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed">Ver o feed</button>
  </div>
</div>
